body{
    background-color:rgb(255, 227, 245);
}
 .maze-container {
            display: grid;
            gap: 0px;
            background-color: #fff;
            padding: 20px;
            width: fit-content;
            margin: 20px auto;
            position: relative;
            border: 3px solid #333;
        }
        
.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: none;
    transition: all 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-sizing: border-box;
     }
.wall-top { border-top: 3px solid #333; }
.wall-right { border-right: 3px solid #333; }
.wall-bottom { border-bottom: 3px solid #333; }
.wall-left { border-left: 3px solid #333; }
.player-cell { background-color: #ffd1fd; }
.info {
    text-align: center;
    font-family: Arial, sans-serif;
     margin-top: 20px;
}
 button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
        }
.start { background-color: #4CAF50; }
.end { background-color: #f44336; }